@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #ff4a3e;
  --secondary-color: #ff6453;
  --tertiary-color: #ff7f37;
}

.navigation-wrapper {
  position: relative;
}

.dots {
  display: flex;
  padding: 10px 0;
  justify-content: center;
}

.dot {
  border: none;
  width: 10px;
  height: 10px;
  background: #c5c5c5;
  border-radius: 50%;
  margin: 0 5px;
  padding: 5px;
  cursor: pointer;
}

.dot:focus {
  outline: none;
}

.dot.active {
  background: #000;
}

.arrow {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  fill: #f98b0e;
  cursor: pointer;
}

.arrow--left {
  left: 5px;
}

.arrow--right {
  left: auto;
  right: 5px;
}

.arrow--disabled {
  fill: rgba(255, 255, 255, 0.5);
}

.my_shadow_for_icon {
  -webkit-box-shadow: 0 0 27.5px 3px #b5fff1;
  -moz-box-shadow: 0 0 27.5px 3px #b5fff1;
  box-shadow: 0 0 27.5px 3px #b5fff1;
}

.primary_bg {
  background-color: var(--primary-color);
}

.orange_gradient {
  @apply bg-gradient-to-r from-amber-500 via-orange-600 to-yellow-500 bg-clip-text text-transparent;
}
